header {
	display: flex;
	width: 100%;
	align-items: center;
	flex-direction: column;
}

h1 {
	padding-top: 30px;
	font-weight: 100;
	line-height: 0em;
	font-size: 48px;
}

h2 {
	font-weight: 300;
	line-height: 0em;
	font-size: 12px;
}

body {
	font-family: 'Josefin Sans', sans-serif;
}

.images {
	width: 100%;
	display: flex;
	justify-content: center; 
}

.column {
	width: 18%;
}

img {
	width:auto;
	max-width:100%;
	height:auto;
	display: block;
	cursor: pointer;
    transition: 0.3s;

}

/* The Modal (background) */

.modal {
  display: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: fixed;
    top: 50%;
    left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.98);
  width: 350px;
  height: 500px;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, .5);
}

/* Modal Content (Image) */
.modalThumb {
    margin-top: 20px;
    height: 150px;
    width: 150px;
    background-image: url(../img/imgThumb.png);
}

/* Modal Content (Text) */
.caption {
    width: 80%;
    max-width: 700px;
    text-align: left;
    color: #717171;
    margin-bottom: 15px;
}

h3 {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;
	font-size: 24px;
	line-height: .6em;
	text-align: center;
}

h4 {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 200;
	font-size: 16px;
	text-align: center;
	margin: none;
}

p {
	font-family: didot;
	font-style: italic;
	font-size: 14px;
	line-height: 1.3em;
}
/* Animation */
.modal-content, .modalThumb, #caption { 
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* Close */
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #A9A9A9;
    font-size: 40px;
    font-weight: lighter;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}